:root {
    --dark-green: #437375;
    --bright-blue: #BEFCFE;
    --nav-height: 60px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}
/* 
#437375
#76A7A9
#BEFCFE
#FF8946
*/

nav {
    display: flex;
    border: 1px solid gray;
    height: var(--nav-height);
    font-size: 1.5em;
    background-color: var(--dark-green);
    color: white;
}

.logo {
    width: 20%;
    border: 1px solid gray;
}

.logo:hover, .top-ul li:hover {
    background-color: #BEFCFE;
}

.logo:hover  p {
    color: black;
}

.top-ul li:hover > .link {
    color: black;
}


/* top ul */
.top-ul {
    display: flex;
    /* border: 1px solid olivedrab; */
    width: 80%;
}

.top-ul > li {
    width: 100%;
    border: 1px solid gray;
    list-style-type: none;
}

.shop-list-item {
    position: relative;
}

/* nested ul */
.shop-drop {
    position: absolute;
    background-color: rgba(67, 115, 117, .9);

    display: none;
    transition: all .5s ease;

    top: 57px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.shop-drop li {
    list-style-type: none;
    padding: 0px;
    width: 100%;
    transition: all .5s ease;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;

}


.shop-drop li a {
    text-align: center;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    padding: 15px;
    margin: 0;
}


/* hover effects */
/* both nested ul and ul li needed to start 
    at display none and change to display block or flex */
.shop-list-item:hover .shop-drop {
    display: flex;
}

.shop-list-item:hover .shop-drop li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-drop li:hover {
    background-color: var(--bright-blue);
    /* background-color: rgba(67, 115, 117, .9); */
}

.shop-drop li:hover .link {
    color: black;
}

/* aligning nav text center horiz and vert
    with nested flexboxes */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}


.li-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    /* border: 1px solid aliceblue; */
    width: 100%;
    height: 100%;
    padding-top: 13px;
    text-align: center;
}

.burger-btn {
    display: none;
    position: relative;
    border: none;
    width: 68px;
    cursor: pointer;
    background-color: var(--dark-green);
}

.line1, .line2, .line3 {
    width: 35px;
    height: 5px;
    border-radius: 20px;
    background-color: black;
    position: absolute;
}

.line1.inactive {
    top: 50%;
    left: 50%;
    transform: translate(calc(-50%), calc(-50% - 10px));
    /* created default position first then created animations based off of those */
    animation: line1-move-right .5s ease forwards;
}

.line1.active {
    animation: line1-move-left 1s ease forwards;
}

.line2.inactive {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: line2-move-left .5s ease forwards;
}

.line2.active {
    animation: line2-move-right 1s ease forwards;
}

.line3.inactive,
.line3.active {
    top: 50%;
    left: 50%;
    transform: translate(calc(-50%), calc(-50% + 10px));
}

.burger-menu-text-container.inactive {
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    opacity: 0;
    animation: text-fall-and-fade 1s ease forwards;
}

.burger-menu-text-container.active {
    animation: text-rise-and-fall 1s ease forwards;
}

@keyframes line1-move-left {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(calc(-50%), calc(-50% - 10px));
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
    100% {
        top: 50%;
        left: 50%;
        transform: translate(calc(-50% * 4), calc(-50% - 10px));
        opacity: 0;
    }
}

@keyframes line1-move-right {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(calc(-50% * 4), calc(-50% - 10px));
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        top: 50%;
        left: 50%;
        transform: translate(calc(-50%), calc(-50% - 10px));
        opacity: 1;
    }

}

@keyframes line2-move-right {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    20% {
        opacity: 0;
    }
    100% {
        top: 50%;
        left: 50%;
        transform: translate(calc(-50% * -4), calc(-50%));
        opacity: 0;
    }
}

@keyframes line2-move-left {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(calc(-50% * -4), calc(-50%));
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

@keyframes text-rise-and-fall {
    0% {
        position: absolute;
        bottom: -50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(0);
        opacity: 0;
    }
    50% {
        position: absolute;
        bottom: 52%;
        left: 50%;
        transform: translate(-50%, calc(-50%)) rotate(5deg);
        opacity: 1;
    }
    75% {
        transform: translate(-50%, calc(-50%)) rotate(-5deg);
        opacity: 1;

    }
    100% {
        position: absolute;
        bottom: 25%;
        left: 50%;
        transform: translate(-50%, calc(-50%)) rotate(0);
        opacity: 1;
    }
}

@keyframes text-fall-and-fade {
    0% {
        position: absolute;
        bottom: 25%;
        left: 50%;
        transform: translate(-50%, calc(-50%)) rotate(0);
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
    100% {
        position: absolute;
        bottom: -50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(0);
        opacity: 0;
    }
}



@media screen and (max-width: 650px) {
    nav {
        justify-content: space-between;
    }

    .logo {
        width: auto;
    }

    .top-ul {
        display: none;
    }

    .burger-btn {
        display: block;
    }
}





/* CANVAS SECTION */

.cnvs-wrapper {
    width: 100%;
    height: 100%;
    background-color: thistle;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#cnvs {
    background-color:whitesmoke;
    /* background-color: burlywood; */
}




.index-body {
    background-color: whitesmoke;
}


.index-body-title {
    text-align: center;
    /* margin: 20px; */
    padding: 20px;
    font-weight: 200;
    font-size: 3em;
    color: black;
}

.index-body-container {
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}

.index-body-container div {
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    z-index: 1;
}

.index-body-element {
    width: 20%;
    border: 2px solid black;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    margin: 10px;
}

.index-body-element-image {
    object-fit: contain;
    width: 100%;
    height:100%;
    z-index: -1;
}

.product-link {
    /* font-size: 3em; */
    font-size: clamp(12px, 4vw, 40px);

    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    color: white;
}



.product-link:hover {
    color: black;
    background-color: rgba(190, 252, 254, .7);
}


/* 
#437375
#76A7A9
#BEFCFE
#FF8946
*/
.footer-container {
    background-color: var(--dark-green);
    border: 2px solid black;
}

.footer-container ul {
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
    padding: 15px;
    list-style-type: none;
}

.footer-container ul li {
    transition: all .5s;
}

.footer-container ul li:hover {
    color: var(--bright-blue);
    cursor: pointer;
    font-size: 1.25em;
}

.socials-container {
    display: flex;
    justify-content: center;
    margin: 15px;
    gap: 100px;
}

.social-icons {
    font-size: 2em;
    transition: all .5s;
}

.social-icons:hover {
    /* can't change color with color */
    /* change svg color with fill */
    font-size: 2.5em;
    fill: var(--bright-blue);
}

.address {
    text-align: center;
    margin: 15px;
    font-size: 1.5em;
}

.copyright {
    text-align: center;
    margin: 15px;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.copyright-icon {
    font-size: 20px;
}

.shop-page-title,
.bonsai-page-title,
.seed-page-title,
.tools-page-title,
.misc-page-title {
    text-align: center;
    padding: 20px;
}

.shop-page-container,
.bonsai-page-container,
.seed-page-container,
.tools-page-container,
.misc-page-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border: 1px solid black; */
}

.shop-page-image-div,
.bonsai-page-image-div,
.seed-page-image-div,
.tools-page-image-div,
.misc-page-image-div {
    border: 10px solid var(--dark-green);
    border-radius: 7%;
    width: 20%;
    margin: 0 20px;
    margin-bottom: 20px;
    text-align: center;
    transition: all .1s linear
}

.shop-page-image-div:hover,
.bonsai-page-image-div:hover,
.seed-page-image-div:hover,
.tools-page-image-div:hover,
.misc-page-image-div:hover {
    border: 12px solid var(--bright-blue);
}

/* 
#437375
#76A7A9
#BEFCFE
#FF8946
*/

.shop-page-image-div-Image, 
.bonsai-page-image-div-Image,
.seed-page-image-div-Image,
.tools-page-image-div-Image,
.misc-page-image-div-Image {
    width: 100%;
    height: 80%;
    object-fit: contain;
}

/* .shop-page-image-div > p, 
.bonsai-page-image-div > p {
    height: 10%;
} */

@media screen and (max-width: 900px) {
    .shop-page-image-div, 
    .bonsai-page-image-div,
    .seed-page-image-div,
    .tools-page-image-div,
    .misc-page-image-div {
        width: 40%;
    }
  }

  .product-details-page-nav {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
  }

  .product-details-page-left-nav-container {
    display: flex;
    list-style: none;
    margin: 15px;
  }

    .product-details-page-left-nav-container > * {
        margin: 0 10px;
    }

    .product-details-page-right-nav-container > * {
        margin: 0 10px;
    }

  .product-details-page-right-nav-container {
    display: flex;
    list-style: none;
    margin: 15px;
  }

  .product-details-page-main-info-container {
    display: flex;
    border: 1px solid blue;
    height: 600px;
  }


  .product-details-page-left-info-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--dark-green);
  }

  .product-details-page-image {
    width: 100%;
    height: 80%;
    object-fit: contain;
}

.product-details-page-right-info-container {
    width: 50%;
    height: 80%;
    padding: 25px;
}

.product-details-page-prod-name {
    font-size: 40px;
}

.product-details-page-prod-price {
    font-size: 35px;
}

.product-details-page-prod-brief {
    font-size: 20px;

}

.cart-button {
    background-color: var(--dark-green);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: all .15s linear;
}

.cart-button:hover {
    background-color: var(--bright-blue);
    color: var(--dark-green);
}

.cart-content-container {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid gray;
}

.cart-left-content {
    width:30%;
    /* border: 1px solid black; */
}

.cart-middle-content {
    width:30%;
    /* border: 1px solid red; */
    font-size: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    padding: 0px 10px;
}

.cart-right-content {
    width:30%;
    /* border: 1px solid blue; */
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-add-subtract-quantity-container {
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.decrement-quantity-button {
    background-color: var(--dark-green);
    border: none;
    border-radius: 50%;
    color: white;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 10px 10px;
    cursor: pointer;
    transition: all .15s linear;
}

.decrement-quantity-button:hover {
    background-color: var(--bright-blue);
    color: var(--dark-green);
}

.increment-quantity-button {
    background-color: var(--dark-green);
    border: none;
    border-radius: 50%;
    color: white;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 10px 10px;
    cursor: pointer;
    transition: all .15s linear;
}

.increment-quantity-button:hover {
    background-color: var(--bright-blue);
    color: var(--dark-green);
}

.cart-total-container {
    display: flex;
    font-size: 2em;
    justify-content: center;
}

.checkout-button-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.checkout-button {
    text-decoration: none;
    width: 40%;
    height: 50px;
    border-radius: 10px;
    background-color: var(--dark-green);
    color: aliceblue;
    font-size: 20px;
    transition: all .2s ease ;
    border: 2px solid black;
    cursor: pointer;
}

.checkout-button:hover {
    background-color: var(--bright-blue);
    color: black;
}


.empty-cart-message {
    text-align: center;
}

/* ABOUT PAGE */

.about-page-main-container {
    width: 100vw;
    height: auto;
    /* border: 2px solid red; */
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.about-page-top-container {
    width: 100%;
    height: auto;
    /* border: 2px solid rgb(18, 82, 244); */
    padding: 15px 45px;
}

.about-title-container {
    border: 2px solid black;
    border-radius: 20px;
    margin: 15px;
}

.about-title-container h1 {
    font-size: 60px;
    text-align: center;
}

.about-text-container {
    border: 2px solid black;
    border-radius: 20px;
    margin: 15px;
    padding: 15px;
}

.about-page-top-container p {
    font-size: 20px;
}

.about-page-bottom-container {
    width: 100%;
    height: auto;
    /* border: 2px solid rgb(18, 82, 244); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 15px;
}

/* CONTACT PAGE */

.contact-main-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border: 2px solid blue;
    padding: 15px;
    /* background-color: aliceblue; */
    background-color: #BEFCFE;
}

.contact-main-container > div,
.contact-title-container div {
    background-color: aliceblue;
}

.contact-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    border: 2px solid var(--dark-green);
    padding: 15px;
    margin: 15px;
    position: relative;
    z-index: 1;
}

.contact-title-container div {
    position: absolute;
    top: 50%;
    right: -75px;
    transform: translateY(-50%);
    font-size: 20px;
    border-radius: 20px;
    border: 2px solid var(--dark-green);
    padding: 5px;
}

.contact-info-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    border-radius: 20px;
    border: 2px solid var(--dark-green);
    /* padding: 15px; */
    width: auto;
}

.contact-info-middle-column {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    /* border: 2px solid var(--dark-green); */
}

.contact-minor-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    /* border: 2px solid black; */
    /* padding: 15px; */
}

.contact-minor-info-container h2 {
    margin: 15px;
    text-align: center;
}

.contact-minor-info-container p,
.contact-minor-info-container a {
    margin: 5px;
    text-align: center;
    font-size: 24px;
}

@media  screen and (max-width: 825px) {
    #left-tree {
        display: none;
    }
}

@media  screen and (max-width: 545px) {
    #right-tree {
        display: none;
    }
}